<h1>Welcome!</h1>

<div class="container">Hi {{ name }}! {{ welcomeMessage }}</div>

<br />

<div class="container">
  You can mange your TODOs <a routerLink="/todos">here</a>
</div>

<br />

<div class="container">
  Click here to get a customized welcome message.
  <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">
    Get Welcome Message
  </button>
</div>

<br /><br />

<div class="container" *ngIf="welcomeMessageFromService">
  <H2>Surprise:</H2>
  <br />
  {{ welcomeMessageFromService }}
</div>
